.page {
  display: flex;
  height: 100vh;
  min-width: 320px;

  &--empty {
    display: block;
    background-color: $gray-200;

    > .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 479px) {
    &--empty {
      > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    }
  }

  @media (max-width: 480px) {
    > .container {
      padding-top: 50px;
    }
  }
}
